body{
    background-color: beige;
}

#navBalk{
    background-color: rgba(255, 255, 255, 0.52);
    position: fixed;
    height: 115px;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

