#logo{
    height: 100px;
    width: 200px;
    text-align: center;
    padding-top: auto;
    margin-top: -2%;
    float: left;
}

/*@media screen and (min-width: 940px) {*/
    /*body {*/
        /*display: grid;*/
        /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
    /*}*/

    /*h3{*/
        /*grid-column: 1/5;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 640px) {*/
    /*body {*/
        /*display: grid;*/
        /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    /*}*/

    /*h3{*/
        /*grid-column: 1/4;*/
    /*}*/

    /*.cover{*/
        /*justify-self: center;*/
    /*}*/
/*}*/

/*#fotos{*/
    /*justify-self: center;*/
    /*max-height: 500%;*/
    /*width: 100%;*/
    /*padding-top: 150px;*/
    /*margin-top: auto;*/
/*}*/

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 80%;
    margin-top: -10%;
    top: -120px;
    position: relative;
}
.modal-b img{
    max-width: 60%;
    max-height: 60%;
    margin-left: 20%;

}

img{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: auto;
}

.masonry {
    left: 0;
    margin: 0 auto;
    padding: 125px 0 0 0;
    column-count: 3;
    column-gap: 0;
}

@media only screen and (max-width: 760px) {
    .button{
        font-size: 20px;
    }
    .masonry {
        column-count: 2;
    }
}

#content{
    left: 0;
    background-color: red;
    width: 100%;
    height: 125px;
}

.item{
    width: 100%;
    height: auto;
}

.button {
    margin-top: 50px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#foto {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#foto:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    color: #f1f1f1;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
