body{
    font-family: monospace;
    text-align: center;
    padding-top: 150px;
    background-image: url("media/blurblur.jpg");
}

#form{
    text-align: center;
    border-radius: 10px;
    border: solid lightseagreen;
    padding-left: 10px;
    width: 300px;
    margin: 0 auto;
    background-color: cadetblue;
}

#submit{
    color: darkcyan;
    background-color: aliceblue;
    border: black;
    border-radius: 20px;
}

.terug{
    color: white;
}
