
#logo{
    height: 200px;
    width: 400px;
}

@media screen and (min-width: 940px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    h3{
        grid-column: 1/5;
    }
}

@media screen and (min-width: 640px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    h3{
        grid-column: 1/4;
    }

    .cover{
        justify-self: center;
    }
}

#fotos{
    justify-self: center;
    max-height: 500%;
    width: 97%;
    padding-top: 150px;
    margin-top: auto;
}
