body {
  background-color: black;
}

h1 {
    text-shadow: 0 0 2px black;
    color: white;
    font-size: 50px;
}

h2 {
    text-shadow: 0 0 2px black;
    color: white;
    font-size: 20px;
    margin-top: -350px;
}

#fileToUpload {
  width: 420px;
  height: 478px;
  margin-bottom: -90px;
  background-color: rgba(187, 49, 58, 0);
}

#taakbalk {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 115px;
  background: rgba(255, 255, 255, 0.52);
}

#upload {
  border: solid 5px;
  border-radius: 25px;
  background-color: rgba(212, 212, 212, 0.69) ;
  width: 420px;
  height: 478px;
  margin: 0 auto;
  border-style: dashed;
}

#title{
  margin-top: -100px;
}

#description{

}

.content:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  display: block;
  background-image: url('https://source.unsplash.com/random');
  background-size:cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  overflow: auto;
  position: relative;
}

// useless after this point, example

.content p {
  margin: 15px;
  background: rgba(255, 255, 255, 0.3);
  padding: 5px;
  box-shadow: 0 0 5px gray;
}
